
header {
    padding: 156px 0 100px;
    background-size: cover;
    
  }
  
  section {
    padding: 150px 0;
    font-size: large;
    background-color:#be2a2a;
  }
 
  .volunteer
  {
      font-size: 20px;
  }